@import url("./reset.css");

/* ======= BRAND COLORS ========*/

.lightgreen { color: #a9fcdc;}
.brightgreen { color: #1bedd4;}
.darkgreen { color: #26b6a5;}
.darkgrey { color: #333333;}
.grey { color: #888888;}
.lightgrey { color : #e6e7e8;}
.red { color: #d9534f;}


/* ======= FONTS OR TEXT ELEMENTS ========*/
* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

/*font boldness*/
.400 {font-weight: 400;}
.500 {font-weight: 500;}
.700 {font-weight: 700;}
.900 {font-weight: 900;}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.2em;}
h4 {font-size: 2em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.2em;}

p {
  font-size: 0.9em;
  line-height: 1.6;
}

.norm {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.condense {
  font-family: 'Roboto Condensed', sans-serif;
}

.widekern{
  letter-spacing: 2px;
}

.up {
  text-transform: uppercase;
}

.hor-line {
  border-top: 2px solid $D9534F;
}

/* ====== LAYOUT ELEMENTS ======*/
.center {text-align: center;}
.toppad {padding-top: 15px;}

li {
  list-style: none;
  background-color: #1bedd4;
}

/* ====== SEARCHBAR ======*/

.searchbar {
  background-color: #666666;
  padding: 20px;
}

.form-group {
  margin-bottom: 0;
}

.navfooter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 3px solid #1bedd4;
}

.iconbtn {
  flex: 1;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  min-width: 30px;
}

.home { background-image: url(../img/home-icon.svg);}
.cospace { background-image: url(../img/cospace-icon.svg);}
.inc { background-image: url(../img/inc-icon.svg);}
.event { background-image: url(../img/event-icon.svg);}
.govt { background-image: url(../img/govt-icon.svg);}

/* ====== INDEX PAGE =======*/

.topuser {
  margin-top: 10px;
}

.title {
  text-align: center;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
  /*text-transform: uppercase;*/
  letter-spacing: 1.5px;
  line-height: 1.5;
}

ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

li {
  flex: 1;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 2px;
  text-align: center;
  max-width: 80px;
  font-size: 0.9em;
}

li a {
  text-decoration: none;
  color: white;
}

.catbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin-bottom: 20px;
}

.cat {
  background-color: #a9fcdc;
  border: solid 1px white;
  height: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.in-cat {
  margin: auto;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.2;

}

.credits {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 20px;
  color: #888888;
}

.select {
  display: flex;
  background-color: lightgrey;
  border: solid black 1px;
}

/*signup css*/

.form{
  /*border: solid black 5px;*/
  width: 40%;
  padding: 20px
}

.selection{
  /*border: solid black 5px;*/
  width: 40%;
  padding: 20px;
  font-weight: bold;
}

.bigbox{
  /*border: solid black 5px;*/
  display: flex;
  justify-content: center;
}

.newuser {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

footer {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

.formbutton {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px
}
